.footer-button-list {
  display: flex;
  align-items: center;

  @media (max-width: 1200px) {
    justify-content: center;
  }

  @media (max-width: 639px) {
    display: block;
    text-align: center;
  }

  &__item {
    margin: 0 0 0 32px;

    @media (max-width: 1200px) {
      &:first-child {
        margin-left: 0;
      }
    }

    @media (max-width: 639px) {
      margin: 0 0 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}