.ref-box {
  background: #3A7A1D;
  box-shadow: 10px 10px 0 0 #80B918;
  border-radius: 16px;
  padding: 24px 68px;
  margin: 55px 0;

  @media (max-width: 639px) {
    padding: 24px 15px 24px 40px;
  }
}