.ref-list {

  &__item {
    
    & a {
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 170%;
      text-decoration: underline;
      color: #FFFFFF;
      transition: 150ms;
      
      &:hover {
        color: #FFD500;
      }

      & span {
        font-weight: 400;
        text-decoration: none !important;
      }
    }
  }
}