.goods-card {
  background: #FFFFFF;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 10px 30px 38px;

  @media (max-width: 992px) {
    padding: 0 54px 38px;
    max-width: 440px;
    width: 100%;
    margin: 0 auto 30px;
  }

  @media (max-width: 440px) {
    padding: 10px 20px 28px;
  }

  &-central {
    position: absolute;
    top: -20px;
    bottom: -20px;
    right: -35px;
    left: -35px;
    padding: 10px 54px 38px;
    z-index: 1;

    @media (max-width: 992px) {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
    }

    @media (max-width: 440px) {
      padding: 10px 20px 28px;
    }

    & .goods-card__img {
      height: 250px;

      @media (max-width: 992px) {
        height: 230px;
      }

      @media (max-width: 440px) {
        height: 200px;
      }
    }

    & .goods-card__sticker {
      width: 108px;
      height: 108px;
    }

    & .button-add-to-cart {
      height: 70px;
      width: 332px;
      font-size: 36px;

      @media (max-width: 1200px) {
        max-width: 332px;
        height: 60px;
        min-width: auto;
        width: 100%;
        font-size: 30px;
      }

      @media (max-width: 440px) {
        font-size: 24px;
        height: 54px;
      }
    }

    & .goods-card__save {
      margin-bottom: 29px;

      @media (max-width: 992px) {
        margin: 0 0 19px;
      }
    }
  }

  &-horizontal {
    display: flex;
    justify-content: center;
    padding: 70px 0;

    & .goods-card__img {
      margin: 0 80px 0 0;
      flex-shrink: 0;
      height: auto;
    }

    & .goods-card__sup {
      font-weight: 900;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #222222;
    }

    & .goods-card__title {
      color: #fff;
      font-weight: 900;
      font-size: 64px;
      line-height: 77px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin: 0 0 3px;
    }

    & .goods-card__subtitle {
      margin: 0 0 12px;
    }

    & .goods-card__price {
      margin: 0 0 16px;
    }

    & .goods-card__save {
      margin: 0 0 14px;
    }

    & .goods-card__sticker {
      width: 148px;
      height: 148px;
      position: absolute;
      top: auto;
      left: 30px;
      bottom: 30px;
    }
  }

  &_simpl {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 0 30px;

    @media (max-width: 992px) {
      padding: 0 54px 38px;
      max-width: 440px;
      width: 100%;
      margin: 0 auto 60px;
    }

    @media (max-width: 440px) {
      padding: 0 20px 28px;
    }

    & .goods-card__title {
      margin: 0 0 5px;
    }

    & .goods-card__img {
      position: relative;
      z-index: 0;
      margin: -20px 0 -71px;
    }

    & .goods-card__supply {
      position: relative;
      z-index: 1;
    }

    & .goods-card__price {
      position: relative;
      z-index: 1;

      & .price__num {
        margin: 0 0 3px;
      }
    }

    & .goods-card__save {
      margin: 0 0 28px;

      &:empty {
        @media (max-width: 992px) {
          height: 0;
          margin: 0 0 36px;
        }
      }
    }

    & .goods-card__button {
      margin: 0;
    }
  }

  &_singletons {
    box-shadow: none;
    border-radius: 0;
    padding: 0;

    & .goods-card__img {
      position: relative;
      max-width: 440px;
      width: 100%;
      height: 320px;
      z-index: 0;
      margin: 0 auto 0;
    }

    & .goods-card__guarantee {
      position: absolute;
      width: 180px;
      height: 180px;
      bottom: 8px;
      left: -38px;

      @media (max-width: 767px) {
        left: -15px;
        width: 120px;
        height: 120px;
      }
    }

    & .goods-card__title {
      font-weight: 900;
      font-size: 64px;
      line-height: 77px;
      letter-spacing: 0.03em;
      margin: 5px 0 1px;

      @media (max-width: 767px) {
        font-size: 42px;
        line-height: 54px;
      }
    }

    & .goods-card__supply {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #272622;
      margin: 0 0 8px;

      @media (max-width: 767px) {
        font-size: 22px;
        line-height: 27px;
      }
    }

    & .goods-card__price {
      position: relative;
      z-index: 1;

      & .price__num {
        font-weight: 900;
        font-size: 72px;
        line-height: 86px;
        color: #222222;
        margin: 0 0 0;

        @media (max-width: 767px) {
          font-size: 52px;
          line-height: 66px;
        }
      }

      & .price__text {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #272622;
        margin: -8px 0 20px;

        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 22px;
          margin: -5px 0 15px;
        }
      }
    }

    & .goods-card__save {
      font-weight: 900;
      font-size: 32px;
      line-height: 38px;
      color: #D65029;
      margin: 0 0 12px;

      @media (max-width: 767px) {
        font-size: 26px;
      }
    }

    & .goods-card__button {
      margin: 0 0 41px;
    }

    & .goods-card__pay {
      margin: 0 0 36px;
    }

    & .goods-card__offer {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: #222222;
      margin: 0 0 36px;

      @media (max-width: 1200px) {
        font-size: 14px;
        line-height: 16px;
      }

      & .goods-card__mark {
        color: #F46036;
      }

      & .goods-card__line-through {
        vertical-align: middle;
        text-decoration-line: line-through;
      }
    }

    @media (max-width: 470px) {
      & .goods-card__img {
        height: sizeIns(320, 470);
      }
    }
  }

  &_transparent {
    background: none;
    box-shadow: none;
  }

  &__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    margin: 0 0 9px;

    @media (max-width: 440px) {
      height: 200px;
    }

    & img {
      display: block;
      position: relative;
      z-index: 0;
    }
  }

  &__sticker {
    position: absolute;
    top: 32px;
    left: 20px;
    z-index: 1;
    width: 98px;
    height: 98px;

    @media (max-width: 440px) {
      top: 10px;
      left: -10px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #80B918;
    text-shadow: 2px 3px 0 rgba(58,122,29,1);
    margin: 0 0 1px;

    @media (max-width: 1200px) {
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__supply {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #272622;
    margin: 0 0 22px;

    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__price {
    margin: 0 0 14px;
  }

  &__save {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #D65029;
    margin: 0 0 19px;

    @media (max-width: 1200px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__button {
    text-align: center;
    margin: 0 0 12px;
  }

  &__offer {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin: 0 0 20px;

    @media (max-width: 1200px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__line-through {
    text-decoration: line-through;
  }

  &__mark {
    color: #F46036;
  }

  &__pay {

  }
}