.goods-card {
  background: #FFFFFF;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 10px 30px 38px;

  @media (max-width: 992px) {
    padding: 0 54px 38px;
    max-width: 440px;
    width: 100%;
    margin: 0 auto 30px;
  }

  @media (max-width: 440px) {
    padding: 10px 20px 28px;
  }

  &-central {
    position: absolute;
    top: -20px;
    bottom: -20px;
    right: -35px;
    left: -35px;
    padding: 10px 54px 38px;
    z-index: 1;

    @media (max-width: 992px) {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
    }

    @media (max-width: 440px) {
      padding: 10px 20px 28px;
    }

    & .goods-card__img {
      height: 250px;

      @media (max-width: 992px) {
        height: 230px;
      }

      @media (max-width: 440px) {
        height: 200px;
      }
    }

    & .button-add-to-cart {
      height: 70px;
      width: 332px;
      font-size: 36px;

      @media (max-width: 1200px) {
        max-width: 332px;
        height: 60px;
        min-width: auto;
        width: 100%;
        font-size: 30px;
      }

      @media (max-width: 440px) {
        font-size: 24px;
        height: 54px;
      }
    }

    & .goods-card__save {
      margin-bottom: 29px;

      @media (max-width: 992px) {
        margin: 0 0 19px;
      }
    }
  }

  &_simpl {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 0 30px;

    @media (max-width: 992px) {
      padding: 0 54px 38px;
      max-width: 440px;
      width: 100%;
      margin: 0 auto 60px;
    }

    @media (max-width: 440px) {
      padding: 0 20px 28px;
    }

    .goods-card__title {
      margin: 0 0 5px;
    }

    .goods-card__img {
      position: relative;
      z-index: 0;
      margin: -20px 0 -59px;
    }

    .goods-card__supply {
      position: relative;
      z-index: 1;
    }

    .goods-card__price {
      position: relative;
      z-index: 1;
    }

    .goods-card__button {
      margin: 0;
    }
  }

  &__img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 230px;
    margin: 0 0 9px;

    @media (max-width: 440px) {
      height: 200px;
    }

    & img {
      display: block;
      position: relative;
      z-index: 0;
    }
  }

  &__sticker {
    position: absolute;
    top: 32px;
    left: -21px;
    z-index: 1;

    @media (max-width: 440px) {
      top: 10px;
      left: -10px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #80B918;
    text-shadow: 2px 3px 0 rgba(58,122,29,1);
    margin: 0 0 1px;

    @media (max-width: 1200px) {
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__supply {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #272622;
    margin: 0 0 22px;

    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__price {
    margin: 0 0 14px;
  }

  &__save {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #D65029;
    margin: 0 0 19px;

    @media (max-width: 1200px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__button {
    text-align: center;
    margin: 0 0 12px;
  }

  &__offer {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #222222;
    margin: 0 0 20px;

    @media (max-width: 1200px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__mark {
    color: #F46036;
  }

  &__pay {

  }
}