.header {
  padding: 17px 15px 23px;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &__title {
    flex-grow: 1;
    margin: 0 0 0 12px;

    @media (max-width: 992px) {
      margin: 0;
    }
  }
}