.section {

  &_white {
    background: #fff;
  }

  &_bg-g {
    padding: 60px 0;
    background-image: url(/assets/img/bg_s_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 639px) {
      padding: 30px 0;
    }
  }
}

