.order-box-label {
  .order-box__row_fields & {
    width: calc(50% - 7.5px);

    &:last-child {
      margin: 0;
    }
  }


  &_2-3 {
    .order-box__row_fields & {
      width: calc(100% / 3 * 2 - 7.5px);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &_1-3 {
    .order-box__row_fields & {
      width: calc(100% / 3 - 7.5px);
    }
  }

  &__double {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & .order-box-label__input {
      width: calc(100% / 2 - 7.5px);
    }
  }

  &__title {
    width: 100%;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 109.8%;
    /* or 15px */
    color: #222222;
    margin: 0 0 6px;
  }

  &__input {
    & input {
      display: block;
      width: 100%;
      height: 42px;
      background: #FFFFFF;
      border: 1px solid #bdbdbd;
      border-radius: 4px;
      line-height: 40px;
      font-size: 16px;
      padding: 0 15px;
    }
  }
}