.order-box {

  &__row {
    padding: 17px 30px 0;

    &_fields {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    height: 55px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 109.8%;
    /* identical to box height, or 18px */
    color: #222222;
    border-bottom: 1px solid #ddd;
    padding: 0 30px 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 10px;
  }
}