.order-switch {
  display: flex;
  align-items: center;

  &__item {
    flex-shrink: 0;

    & + & {
      margin-left: -1px;
    }

    &:first-child button {
      border-radius: 4px 0 0 4px;
    }

    &:last-child button {
      border-radius: 0 4px 4px 0;
    }
  }
}