.order-box {

  &__row {
    padding: 0 30px;

    @media (max-width: 639px) {
      padding: 0 15px;
    }

    &_fields {
      display: flex;
      justify-content: space-between;

      @media (max-width: 639px) {
        display: block;
      }
    }
  }

  &__title {
    height: 55px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 109.8%;
    /* identical to box height, or 18px */
    color: #222222;
    border-bottom: 1px solid #ddd;
    padding: 0 30px 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 10px;

    @media (max-width: 639px) {
      padding: 0 15px 9px;
    }
  }
}