.order-form {
  display: flex;

  &__left {
    flex-shrink: 0;
    width: 670px;
    padding: 0 0 30px;
  }

  &__right {
    flex-shrink: 0;
    width: 500px;
    background: #f5f5f5;
    padding: 0 0 30px;
  }
}