.info-box {
  background: #3A7A1D;
  box-shadow: 10px 10px 0 #80B918;
  border-radius: 16px;
  padding: 40px;
  color: #fff;

  @media (max-width: 639px) {
    padding: 30px 15px;
  }

  &__item {
    margin: 0 0 40px;

    @media (max-width: 639px) {
      margin: 0 0 30px;
    }

    &:last-child {
      margin: 0;
    }
  }
}