.info-box-title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  color: #FFFFFF;
  
  @media (max-width: 1200px) {
    font-size: 36px;
  }

  @media (max-width: 992px) {
    font-size: 26px;
  }

  @media (max-width: 639px) {
    font-size: 20px;
  }

  &_sm {
    font-weight: 600;
    font-size: 32px;
    line-height: 128%;

    @media (max-width: 1200px) {
      font-size: 27px;
    }

    @media (max-width: 992px) {
      font-size: 22px;
    }

    @media (max-width: 639px) {
      font-size: 18px;
    }
  }

  &__text {
    display: block;
  }

  & .mark {
    color: #FFD500;
  }
}