@font-face {
  font-family: 'AkzidenzGroteskPro-Regular';
  src: url('/assets/fonts/AkzidenzGroteskPro-Regular.woff2') format('woff2'),
  url('/assets/fonts/AkzidenzGroteskPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskPro-Md';
  src: url('/assets/fonts/AkzidenzGroteskPro-Md.woff2') format('woff2'),
  url('/assets/fonts/AkzidenzGroteskPro-Md.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Optima';
  src: url('/assets/fonts/Optima.woff2') format('woff2'),
  url('/assets/fonts/Optima.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Optima-Bold';
  src: url('/assets/fonts/Optima-Bold.woff2') format('woff2'),
  url('/assets/fonts/Optima-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Optima-Italic';
  src: url('/assets/fonts/Optima-Italic.woff2') format('woff2'),
  url('/assets/fonts/Optima-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans Bold';
  src: url('/assets/fonts/Uni-Sans-SemiBold.woff2') format('woff2'),
  url('/assets/fonts/Uni-Sans-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}