// Font
$f-l: 'Lato', sans-serif;

// Size
$desktopWidth            : 1280px;
$smDesktopWidth          : 1260px;
$tableWidth              : 1151px;
$smtableWidth            : 1023px;
$xtableWidth             : 992px;
$phoneWidth              : 767px;
$smPhoneWidth            : 420px;

// Main color
$m-f-c: #222; //main font color