.offer-banner {
  background: #FFD500;
  box-shadow: 0px 18px 20px rgba(0, 0, 0, 0.15), 0px 10px 0px #FDC500;
  border-radius: 16px;
  padding: 15px 15px 13px;
  margin: 52px 0;

  @media (max-width: 992px) {
    margin: 25px 0;
  }

  &__title {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #272622;
    text-shadow:
      3px 3px 0 #80B918,
      3px 3px 0 #80B918,
      3px 2px 0 #80B918,
      3px 1px 0 #80B918,
      3px 0px 0 #80B918,

      -3px 3px 0 #80B918,
      -3px 3px 0 #80B918,
      -3px 2px 0 #80B918,
      -3px 1px 0 #80B918,
      -3px 0px 0 #80B918,

       3px -3px 0 #80B918,
       3px -3px 0 #80B918,
       2px -3px 0 #80B918,
       1px -3px 0 #80B918,
       0px -3px 0 #80B918,

       3px 3px 0 #80B918,
       3px 3px 0 #80B918,
       2px 3px 0 #80B918,
       1px 3px 0 #80B918,
       0px 3px 0 #80B918,

      3px -3px 0 #80B918,
      3px -3px 0 #80B918,
      3px -2px 0 #80B918,
      3px -1px 0 #80B918,
      3px -0px 0 #80B918,

      -3px -3px 0 #80B918,
      -3px -3px 0 #80B918,
      -3px -2px 0 #80B918,
      -3px -1px 0 #80B918,
      -3px -0px 0 #80B918,

       -3px -3px 0 #80B918,
       -3px -3px 0 #80B918,
       -2px -3px 0 #80B918,
       -1px -3px 0 #80B918,
       -0px -3px 0 #80B918,

       -3px 3px 0 #80B918,
       -3px 3px 0 #80B918,
       -2px 3px 0 #80B918,
       -1px 3px 0 #80B918,
       -0px 3px 0 #80B918
  ;

    @media (max-width: 1200px) {
      font-size: 60px;
      line-height: 72px;
    }

    @media (max-width: 992px) {
      font-size: 50px;
      line-height: 62px;
    }

    @media (max-width: 639px) {
      font-size: 24px;
      line-height: 30px;

      text-shadow:
              1px 1px 0 #80B918,
              1px 0px 0 #80B918,

              -1px 1px 0 #80B918,
              -1px 0px 0 #80B918,

              1px -1px 0 #80B918,
              0px -1px 0 #80B918,

              1px 1px 0 #80B918,
              0px 1px 0 #80B918,

              1px -1px 0 #80B918,
              1px -0px 0 #80B918,

              -1px -1px 0 #80B918,
              -1px -0px 0 #80B918,

              -1px -1px 0 #80B918,
              -0px -1px 0 #80B918,

              -1px 1px 0 #80B918,
              -0px 1px 0 #80B918
    ;
    }
  }

  &__subtitle {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin: 4px 0 0;

    @media (max-width: 1200px) {
      font-size: 28px;
      line-height: 34px;
    }

    @media (max-width: 992px) {
      font-size: 24px;
      line-height: 30px;
    }

    @media (max-width: 639px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}