.condition {
  display: flex;
  padding: 70px 0;

  @media (max-width: 992px) {
    display: block;
  }

  @media (max-width: 639px) {
    padding: 40px 0;
  }

  &__img {
    flex-shrink: 0;
    width: 360px;
    margin: 0 40px 0 0;

    @media (max-width: 1200px) {
      width: 260px;
    }

    @media (max-width: 992px) {
      max-width: 360px;
      width: 100%;
      margin: 0 auto 30px;
    }

    @media (max-width: 639px) {
      max-width: 260px;
    }
  }

  &__text {
    flex-grow: 1;
  }
}