.group-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (max-width: 479px) {
    display: block;
    text-align: center;
  }

  &__item {
    flex-shrink: 0;
    margin: 34px 34px 34px 0;

    @media (max-width: 479px) {
      margin: 30px 0;
    }

    &:last-child {
      margin: 34px 0;

      @media (max-width: 479px) {
        margin: 30px 0;
      }
    }
  }
}