.page-subtitle {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #3A7A1D;
  margin: 0 0 4px;

  @media (max-width: 1200px) {
    font-size: 20px;
    line-height: 28px;
  }

  @media (max-width: 639px) {
    font-size: 18px;
    line-height: 24px;
  }

  .upgrade & {
    margin: 0 0 37px;
  }
}