.page-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1200px) {
    max-width: 992px;
  }

  @media (max-width: 992px) {
    max-width: 738px;
  }

  &.singletons {
    padding: 70px 15px 106px;

    @media (max-width: 639px) {
      padding: 50px 15px 50px;
    }
  }

  &_banner {
    @media (max-width: 639px) {
      padding: 0;
    }
  }

  &_ptb {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .header & {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
}